.ttt-game-board {
  position: relative;
  padding-bottom: 100%;
  background-color: rgb(72, 78, 104);
}

.ttt-game-board__content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.ttt-game-board__cell {
  width: calc(100% / 3);
  padding: 8px;
  border: 2px transparent;
}

.ttt-game-board__cell:nth-child(3n - 2),
.ttt-game-board__cell:nth-child(3n - 1) {
  border-right-color: #ffc153;
}

.ttt-game-board__cell:nth-child(-n + 6) {
  border-bottom-color: #ffc153;
}
